
.personal-contact{
    

    
    &-logos{
        
    
        &-github{
            width: 56px;
            height: 56px;
        }

        &-email{
            width: 45px;
            height: 45px;
        }
    }

}

.personal-aboutme{
    display:flex;
    
}